.nav-link:hover {
  border-radius: 0.7em;
  padding-left: 0.5em;
  color: rgb(0, 0, 0);
}
.nav-link {
  transition: all 0.2s;
  color: white;
}

.navbar {
  backdrop-filter: blur(50px);
  background-color: rgba(128, 128, 128, 0.7);
}

footer {
  background-color: rgba(128, 128, 128, 0.7);
  height: 80px;
}
#git svg:hover {
  fill: white;
  transition: ease-in-out 100ms;
}

#ig svg:hover,
#wa svg:hover,
#linkedin svg:hover {
  fill: white;
  transition: ease-in-out 100ms;
}
/*navbar logo */
.navbar-brand:hover {
  color: rgb(0, 0, 0);
  transition: ease-in-out 300ms;
}

.navbar-brand {
  color: white;
}

.logo {
  height: 30px;
  filter: grayscale();
}

/*navbar logo akhir */

/* main */
/* swipper js */
.swiper {
  height: 50%;
}
.swiper-slide {
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  border-radius: 2em;
  height: 20em;
  width: auto;
}
/* swipper js akhir */
.teks-project {
  padding-top: 5em;
}
.line-project {
  width: 200px;
  height: 3.5px;
  background-color: white;
}
/* main akhir */

/*untuk laptop */
@media (min-width: 1024px) {
}

/* untuk Hp */
@media (max-width: 768px) {
  .swiper-slide img {
    border-radius: 2em;
    height: 7em;
    width: auto;
  }
}

/* untuk tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}
